In [ ]:
import pandas as pd
data = pd.read_csv("salaries_by_college_major.csv")
data.head() # Used to return the top 5 rows of data

In [ ]:
data.shape # Used to find the dimensions of the data

In [ ]:
data.columns # Used to return the table headings

In [ ]:
data.isna() # Returns columns with blank value or incorrect data type

In [ ]:
data.tail() # Retuns the last 5 rows

In [ ]:
clean_data = data.dropna() # Used to remove all the incorrect rows
clean_data.tail()

In [ ]:
clean_data["Starting Median Salary"]  # Returns all the values for the column "Starting Median Salary"

In [ ]:
clean_data["Starting Median Salary"].max() # returns max value in the specified column

In [ ]:
clean_data["Starting Median Salary"].idxmax() #Returns index at which value is maximum

In [ ]:
clean_data["Undergraduate Major"].loc[43] # Returns the value at the specified location
clean_data["Undergraduate Major"][43] # Same Output

In [ ]:
clean_data.loc[43] # Full Row

What college major has the highest mid-career salary? How much do graduates with this major earn?

In [ ]:
clean_data["Mid-Career Median Salary"].idxmax() #8
clean_data["Mid-Career Median Salary"].loc[8] # Earn 107000

Which college major has the lowest starting salary and how much do graduates earn after university?

In [ ]:
clean_data["Starting Median Salary"].idxmin() #49
clean_data["Starting Median Salary"].loc[49] # Earn 34000

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [ ]:
print(f"Index at which Mid-Career Median Salary is lowest: {clean_data['Mid-Career Median Salary'].idxmin()}")
print(f"The Lowest Mid-Career Median Salary is ${clean_data['Mid-Career Median Salary'].loc[18]}\n")
print(f"The information about the lowest paying Mid-Career Job\n{clean_data.loc[18]}")
# clean_data.loc[18] == clean_data.loc[clean_data["Mid-Career Median Salary"].idxmin()]

In [ ]:
spread = clean_data["Mid-Career 90th Percentile Salary"] - clean_data["Mid-Career 10th Percentile Salary"]
# clean_data["Mid-Career 90th Percentile Salary"].subtract(clean_data["Mid-Career 10th Percentile Salary"]) can also be used
clean_data.insert(1, "Spread", spread)
print(clean_data)

In [ ]:
low_risk = clean_data.sort_values("Spread") # Sorts in ascending order by default
print(low_risk[["Undergraduate Major", "Spread"]])

Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 20 degrees with the highest values in the 90th percentile.

In [ ]:
clean_data.sort_values("Mid-Career 90th Percentile Salary", ascending=False).head(n=20)

Also, find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [ ]:
print(clean_data.sort_values("Spread", ascending=False)[["Undergraduate Major", "Spread"]])

In [ ]:
clean_data.groupby("Group").count() # Used to count the duplicate values of chosen column

In [24]:
pd.options.display.float_format = "{:,.2f}".format # used to bring international system commas in numbers

In [ ]:
clean_data.groupby("Group").mean()